html,
body {
  font-family: "Avenir";
  width: 100%;
  height: 100%;
  /* margin: 0px;
  padding: 0px; */
  color: #36454f;
  overflow-x: hidden;
  background-color: #f0faf7;
  /* background-color: #ffffff; */
}
.img-frame {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  height: 100%;
  width: 100%;
}

.frame-style {
  background-color: #ffffff;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  padding: 8vmin;
  position: relative;
  text-align: center;
  &:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
  }
  &:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
  }
}

.categories {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 12px;

  width: 90px;
  height: 90px;

  border-radius: 90px;
  text-align: center;
  color: #36454f;

  align-items: center;
  box-shadow: 0 0 5px #36454f;
  text-shadow: 0 0 5px #f0faf7;
  justify-content: center;
  font-family: "Avenir";
  text-transform: uppercase;
}

.categories::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #36454f;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.categories:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #14927d;
}

.categories:hover {
  color: #36454f;
  box-shadow: 0 0 5px #14927d;
  color: #14927d;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #f0faf7;
  text-align: center;
}

.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #666 solid;
  margin: 0;
}

.indicator.active {
  color: #fff;
  background: #666;
}
/*
*
* ==========================================
* NAVBAR
* ==========================================
*
*/

/* nav {
  background-color: #36454f;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */

.navbar {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 30px 15px !important;
  color: #36454f;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav > .nav-item > .nav-link {
    padding: 10px 15px !important;
  }
}

.navbar .navbar-nav > .nav-item > .nav-link.active,
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus {
  background: #14927d;
}

@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    position: relative !important;
    border: none;
  }
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar .megamenu {
  padding: 30px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

@media (max-width: 991.98px) {
  .navbar .megamenu {
    padding: 15px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar .menu-large h5 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555;
}

@media (max-width: 767.98px) {
  .navbar .menu-large h5 {
    font-size: 0.9rem;
  }
}

.navbar .menu-large ul {
  margin: 0;
  padding: 0;
}

.navbar .menu-large ul .nav-item {
  list-style-type: none;
  border-bottom: solid 1px #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 0;
}

.navbar .menu-large ul .nav-item a {
  color: #999;
  font-size: 0.738rem;
  display: block;
  padding: 0 !important;
}

.navbar .menu-large ul .nav-item a:hover {
  color: #14927d !important;
  text-decoration: none;
}

.navbar .menu-large .banner {
  margin-bottom: 10px;
}

.navbar #basket-overview {
  padding: 0;
}

.navbar .navbar-btn {
  color: #fff;
  margin-right: 10px;
}
.menu-large {
  position: static !important;
}

.menu-large .megamenu {
  padding: 20px;
  width: 100%;
  max-width: 1140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -1px;
}

.menu-large a.nav-link {
  padding: 7px !important;
  padding-left: 0 !important;
}

/* styling search bar */
.input-group {
  width: 90%;
  margin-right: 35%;
  color: #14927d;
}
#search_btn {
  background-color: #14927d;
  color: #f0faf7;
}
#search_field {
  height: 2.4rem;
  padding: 1rem;
  color: #14927d;
}

#login_btn,
#view_btn {
  color: #f0faf7;

  font-weight: 900;
  /* padding: 0.4rem 1.8rem; */
  font-family: avenir;
}

#cart {
  font-size: 1rem;
  color: #14927d;
}

#cart_count {
  font-size: 12px;
  color: #3bb293;
  background: #f0faf7;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}

/* Cart and its number badge */
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 12px;
  font-weight: 900;
  color: #3bb293;
  padding: -1px;
  vertical-align: top;
  margin-left: -15px;
}
/* Home page */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.cool-frame {
  --b: 10px; /* control the size */
  padding: var(--b);
  border: calc(2 * var(--b)) solid #0000;
  outline: 1px solid #36454f;
  outline-offset: calc(-1 * var(--b));
  background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #7697af 0);
}

.card-title a {
  color: rgb(109, 109, 109);
  text-decoration: none;
}

.card-title a:hover {
  color: rgb(84, 83, 83);
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #3bb293;
  color: #f0faf7;
}

.card-img-top {
  width: 170px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #3bb293;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: #737373;
  margin-left: 0.5rem;
}

/* Footer */
/* footer {
  margin-top: 8rem;
  color: #3bb293;
  bottom: 0;
  width: 100%;
} */
/*
*
* ======================================================================
* FOOTER
* ======================================================================
*
*/
#footer {
  background: #f0faf7;
  padding: 100px 0;
  font-family: Arial, Helvetica, sans-serif;
}

#footer ul {
  padding-left: 0;
  list-style: none;
}

#footer ul a {
  color: #36454f;
  text-decoration: none;
}

#footer .social {
  text-align: left;
}

#footer .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  background-color: #555;
}

#footer .social a i {
  vertical-align: bottom;
  line-height: 30px;
}

#footer .social a.facebook:hover {
  background-color: #4460ae;
}

#footer .social a.gplus:hover {
  background-color: #c21f25;
}

#footer .social a.twitter:hover {
  background-color: #3cf;
}

#footer .social a.instagram:hover {
  background-color: #cd4378;
}

#footer .social a.email:hover {
  background-color: #4a7f45;
}

#footer .social a.github:hover {
  background-color: #171515;
}

#footer .social a.linkedin:hover {
  background-color: #0072b1;
}

/*
*
* ======================================================================
* COPYRIGHTS
* ======================================================================
*
*/
#copyright {
  background: #36454f;
  color: #ccc;
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright p {
  margin: 0;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #ceb46c;
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
/*content: "\f06c \f006 \f006 \f006 \f006";  star rating */
.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #ceb46c;
}
/*content: "\f005 \f005 \f005 \f005 \f005";*/

/* Product Details Page */
#product_id {
  color: #a6a6a6;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  background-color: #2b836b;
  border: none;
  opacity: 0.6;
  padding: 0.5rem 2rem;
}

#cart_btn:hover,
#review_btn:hover {
  background-color: #1e5d4d;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: #737373;
  font-size: 0.9rem;
}
.social-link-hover:hover {
  color: #3bb293;
}
.social-link-hover {
  color: #f0faf7;
}
#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: #ce6c86;
}

.greenColor {
  color: #6cceb4;
  font-weight: 900;
}

.greenColor:hover {
  color: #5fb59e;
}

.title {
  font-weight: 900;
  color: #f0faf7;
  background-color: #36454f;
  opacity: 0.4;
  padding: 1rem;
}

.orderListActions {
  color: #448171;
}
.orderListActions:hover {
  color: #294f45;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3bb293;
  border-color: #3bb293 transparent;
  animation: lds-dual-ring 1.7s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: #f0faf7;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #3bb293;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #3bb293;
  border-color: #3bb293;
  margin-top: 2rem;
}

#view_order_details {
  background-color: #3bb293;
  border-color: #3bb293;
}

#order_summary {
  border: 1px solid #f0faf7;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f0faf7;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 700;
  padding: 10px;
}

.wrapper form {
  padding: 3rem 3rem 5rem 3rem;
}

.wrapper form .btn {
  background-color: #3bb293;
  border-color: #3bb293;
  color: #f0faf7;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
  color: #d2d0d0;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: rgb(224, 222, 222);
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #b6b3b3;
}

.active-step {
  background: #3bb293;
  color: #f0faf7;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #3bb293;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #3bb293;
  border-left: 15px solid #f0faf7;
  border-bottom: 20px solid #3bb293;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #b6b3b3;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #b6b3b3;
  border-left: 15px solid #f0faf7;
  border-bottom: 20px solid #b6b3b3;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: #36454f;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #36454f;
  border-color: #f0faf7;
}
#edit_profile:hover {
  background-color: #263138;
  border-color: #36454f;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #36454f;
  border-color: #36454f;
  color: #f0faf7;
}
.myorders {
  background-color: #6cceb4;
  color: #f0faf7;
}
.myorders:hover {
  background-color: #5cb099;
  color: #f0faf7;
}

.changepw {
  background-color: #ce6c86;
  color: #f0faf7;
}
.changepw:hover {
  background-color: #b05b72;
  color: #f0faf7;
}
.update-btn:hover {
  color: #f0faf7;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Pagination */

.pagination {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 20px;
}

.page-item.active .page-link {
  background-color: #36454f;
  border-color: #36454f;
}

.page-link {
  color: #36454f;
}

.page-link:hover {
  color: #28343b;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;
  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #3bb293;
  color: #f0faf7;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #3bb293;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #3bb293;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #f0faf7;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #3bb293;
  background: #f0faf7;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #f0faf7;
  background: #3bb293;
}
a[data-toggle="collapse"] {
  position: relative;
}
/* .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
} */

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #3bb293;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: lightgrey;
}
.starColorClick {
  color: #af995b;
}
.starColorMouseOver {
  color: #ceb46c;
}

.star:first-child {
  padding-left: 0;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
